@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(13, 13, 13);
}

@layer components {
  /* main */
  .main-container {
    @apply flex max-w-full max-h-[100dvh]  flex-1 flex-col items-center  pb-10  px-0 md:pb-0;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-white/80;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 ;
  }

  .community-card_btn {
    @apply rounded-lg bg-cyan-600 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-cyan-600 text-[12px] text-light-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-xl bg-dark-4 border border-white/10 px-4 ;
  }

  .searchbar_input {
    @apply border-none bg-transparent  text-white/80  !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-1 border-b border-white/10 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full border-t border-white/10 bg-glassmorphism xs:px-4  backdrop-blur-lg  md:hidden overflow-hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-around gap-3 xs:gap-5 ;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-[2px]  p-3 sm:flex-1 sm:px-2 py-2;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit  flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-1 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-full p-px;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col  overflow-auto border-l border-l-dark-4 bg-dark-1 px-8 pb-10 pt-10 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply  p-px w-full h-fit bg-dark-4 text-light-2 data-[state=active]:bg-gradient-to-tr from-blue to-green-700 rounded-full data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-20 w-20 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:font-semibold file:text-cyan-500 !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply  flex items-center gap-4 border-b border-y-dark-4 px-5 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-cyan-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}








.particle-container {
  --uib-size: 45px;
  --uib-color: rgb(255, 255, 255);
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 4) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.particle {
  position: absolute;
  top: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &:nth-child(1) {
    --uib-delay: 0;
    transform: rotate(8deg);
  }
  &:nth-child(2) {
    --uib-delay: -0.4;
    transform: rotate(36deg);
  }

  &:nth-child(3) {
    --uib-delay: -0.9;
    transform: rotate(72deg);
  }
  &:nth-child(4) {
    --uib-delay: -0.5;
    transform: rotate(90deg);
  }
  &:nth-child(5) {
    --uib-delay: -0.3;
    transform: rotate(144deg);
  }
  &:nth-child(6) {
    --uib-delay: -0.2;
    transform: rotate(180deg);
  }
  &:nth-child(7) {
    --uib-delay: -0.6;
    transform: rotate(216deg);
  }
  &:nth-child(8) {
    --uib-delay: -0.7;
    transform: rotate(252deg);
  }
  &:nth-child(9) {
    --uib-delay: -0.1;
    transform: rotate(300deg);
  }
  &:nth-child(10) {
    --uib-delay: -0.8;
    transform: rotate(324deg);
  }
  &:nth-child(11) {
    --uib-delay: -1.2;
    transform: rotate(335deg);
  }
  &:nth-child(12) {
    --uib-delay: -0.5;
    transform: rotate(290deg);
  }
  &:nth-child(13) {
    --uib-delay: -0.2;
    transform: rotate(240deg);
  }
}

.particle::before {
  content: '';
  position: absolute;
  height: 17.5%;
  width: 17.5%;
  border-radius: 50%;
  background-color: var(--uib-color);
  flex-shrink: 0;
  transition: background-color 0.3s ease;
  --uib-d: calc(var(--uib-delay) * var(--uib-speed));
  animation: orbit var(--uib-speed) linear var(--uib-d) infinite;
}

@keyframes orbit {
  0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translate(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
}

